.nonClickTodo {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
  & > li > label > input {
    width: 3rem;
    height: 3rem;
    min-width: 20px;
    min-height: 20px;
  }
  & > li {
    display: flex;
    align-items: center;
  }

  & > li > span {
    padding: 1rem;
    max-width: 30rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media (max-width: 768px) {
      max-width: 25rem;
    }
  }

  & > li > div {
    position: absolute;
    right: 0;
  }
  & > li > div > button {
    width: 6rem;
    height: 4rem;
    border: none;
    border-radius: 5px;
    margin-left: 1rem;

    @media (max-width: 768px) {
      zoom: 0.8;
      width: 50px;
      height: 30px;
    }
    transition: 0.5 all;
    &:hover {
      background-color: blue;
      opacity: 0.6;
      color: white;
    }
  }
}
