.signUpBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );

  & > h1 {
    font-size: 3rem;
    margin: 2rem;
  }
  & > input {
    margin: 0.5rem;
  }
  & > div {
    height: 3rem;
  }

  & > input {
    border: none;
    padding: 1rem;
    border-radius: 5px;
    padding: 2rem;
    width: 30rem;
    &:hover {
      opacity: 0.8;
    }
    &::placeholder {
      font-size: 0.5rem;
    }
  }

  & > div {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: red;
    opacity: 0.8;
  }

  & > button {
    padding: 2rem;
    width: 30rem;
    margin: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
